
<div class="container" style="background-image: url('./assets/k.jpg');" >
    <div class="d-flex justify-content-between">

          <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="./assets/a.jfif" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">SCHOOL FACILITIES</h5>
              <p class="card-text">Classroom. The spacious and well-ventilated classrooms with natural light provide a conducive environment for learning. ...
                Science Laboratories. ...
                Mathematics Laboratory. ...
                Computer Laboratories. ...
                Libraries. ...
                Music Room and Dance Studio. ...
                Art Room. ...
                Activity Rooms.
                </p>
              <a href="#" class="btn btn-primary">visit class</a>
            </div>
          </div>

          <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="./assets/f.jfif" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">World University Rankings</h5>
              <p class="card-text">The World University Rankings published by Times Higher Education is an annual ranking of higher education institutions. Every year, this list shows you which universities achieved high scores in the global rankings, helping students 
                just like you decide where they ought to study if they want to attend one of the top universities in the world.</p>
              <a href="#" class="btn btn-primary">Go University</a>
            </div>
          </div>
          <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="./assets/e.jfif" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Affiliation with Savitribai Phule Pune University</h5>
              <p class="card-text">A++ grade accreditation from UGC,
                Accreditation ensures schools provide a high-quality education that meets certain standards. Universities, colleges, trade schools, and vocational schools can all earn institutional accreditation. 
                Specific programs and degree types may also have their own programmatic accreditation.
              </p>
              <a href="#" class="btn btn-primary">Go UGC</a>
            </div>
          </div>
     </div>
</div>

