<div class="container" style="background-image: url('./assets/k.jpg');">
    <div class="d-flex justify-content-between">

          <div class="card" style="width: 30rem;">
            <img class="card-img-top" src="./assets/f.jfif" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">About-us</h5>
              <p class="card-text">
                The location of Shri Shivaji Highschool is Chikhali, Buldhana.
                 It is a State Board school, with a team of 16 dedicated and professional faculties, 
                 which are here to ensure that the children get the most from their education.

In 1966, Shri Shivaji Highschool was launched. Marathi is the primary medium of instruction 
for this school and the student teacher ratio is 44:1. The school tries to provide best learning
 environment.

The school provides education to students from class 6 to 12. 
The current student strength of the school is approximately 713.
 It has a library as well with over 525 books.

The school has given exceptional results in the academic sphere and
 its students have excelled in extra co-curricular activities too. 
 This school has 100% of students qualifying the examination and out of these 85% scored first grade.
                </p>
              <a href="#" class="btn btn-primary">visit school</a>
            </div>
          </div>
     </div>
</div>