<form [formGroup]="docform" (ngSubmit)="save()">
    <br>
<br>
    <label for="custId">Customer Id</label>
    <input type="number"  formControlName="custId" id="custId">
<br>
<br>
    <label for="custName">Customer Name</label>
    <input type="text"  formControlName="custName" id="custName">
    <br>
    <br>
    <label for="adharcard">Customer adharcard</label>
    <input type="file" (change)="onSelectfile1($event)" id="adharcard">
    <br>
    <br>
    <img [src]="imageSrc1" height="150"><br><br>
    <label for="pancard">Customer pancard</label>
    <input type="file" (change)="onSelectfile2($event)" id="pancard">
    <br>
    <br>
    <img [src]="imageSrc2" height="150"><br><br>
    <label for="photo">Customer photo</label>
    <input type="file" (change)="onSelectfile3($event)" id="photo">
    <br>
    <br>
    <label for="signature">Customer signature</label>
    <input type="file" (change)="onSelectfile4($event)" id="signature">
    <br>
    <br>
    <input  type="submit" value="submit">
</form>
