
  <nav class="navbar navbar-dark bg-primary">
    <!-- Navbar content -->
    <button type="button" class="btn btn-primary" routerLink="home">Home </button>
    <button type="button" class="btn btn-primary" routerLink="change">Change Students </button>
    <button type="button" class="btn btn-primary" routerLink="view">View Students </button>

    <button type="button" class="btn btn-primary" routerLink="add">Add New Students </button>
    <button type="button" class="btn btn-primary"routerLink="update">Update Students</button>
     <button type="button" class="btn btn-danger" routerLink="delete">Delete Students</button>
    
  </nav>

<router-outlet></router-outlet>