<div class="d-flex justify-content-between">
    <h2>User Form</h2>
    <button type="button" routerLink="" class="btn btn-link"> Back to Home</button>
</div>
<form [formGroup]="userForm">
    <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">Name</span>
        <input type="text" class="form-control" placeholder="Username" formControlName="name">
    </div>
    <div *ngIf="f['name'].touched  && f['name'].errors?.['required']" class="text-danger error">Name Required</div>
    <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">Address</span>
        <input type="text" class="form-control" formControlName="address">
    </div>
    <div *ngIf="f['address'].touched  && f['address'].errors?.['required']" class="text-danger error">Address Required
    </div>
    <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">Mobile Number</span>
        <input type="text" class="form-control" formControlName="mob">
    </div>
    <div *ngIf="f['mob'].touched  && f['mob'].errors?.['required']" class="text-danger error">Mobile Number Required
    </div>
    <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">Email</span>
        <input type="text" class="form-control" formControlName="email">
    </div>
    <div *ngIf="f['email'].touched  && f['email'].errors?.['required']" class="text-danger error">Name Required</div>
    <div *ngIf="f['email'].touched  && f['email'].errors?.['email']" class="text-danger error">Invalid Format</div>
    <div class="d-flex p-2 justify-content-between">
        <button *ngIf="!isEditMode" class="btn btn-success" (click)="onSubmit()">Submit</button>
        <button *ngIf="isEditMode" class="btn btn-success" (click)="onUpdateuser()">Update</button>
        <button class="btn" type="reset" (click)="resetForm()">Clear</button>
    </div>
</form>