<div class="table" >
    <h3>Students Details</h3>
    <table >
    <thead>
      <tr style="text-align: left;" >
       <th>Stdudent ID</th>
       <th>Name</th>
       <th>Rollno</th>
       <th>Address Id</th>
       <th>City</th>
       <th>Taluka</th>
       <th>District</th>
       <th>State</th>
       <th>Pin code</th>
       <th colspan="2">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr style="text-align: left;" *ngFor="let s of data">
        <td>{{s.id}}</td>
        <td>{{s.name}}</td>
        <td>{{s.rollno}}</td>
        <td>{{s.address.id}}</td>
        <td>{{s.address.city}}</td>
        <td>{{s.address.taluka}}</td>
        <td>{{s.address.district}}</td>
        <td>{{s.address.state}}</td>
        <td>{{s.address.pincode}}</td>
        <td><button type="button" (click)="updatedata(s)" class="btn btn-primary">Update</button></td>
        <td><button type="button" class="btn btn-danger"(click)="deletdata(s)">Delete</button></td>
      </tr>
    </tbody>
  </table>
</div>
