<nav>
    <button style="margin-right:0.5cm ; border-radius: 10%;" routerLink="production" >Production</button>
    <button style="margin-right:0.5cm ; border-radius: 10%;" routerLink="quality" >Quality</button>
    <button style="margin-right:0.5cm ; border-radius: 10%;" routerLink="Hr" >Human-Resource</button>
    <button style="margin-right:0.5cm ; border-radius: 10%;" routerLink="purchase" >Purchase</button>
    <button style="margin-right:0.5cm ; border-radius: 10%;" routerLink="" >Back</button>
</nav>
<router-outlet></router-outlet>