<style>
    #a{
    max-width:500px;margin:auto;line-height:normal;
    }
    
    button{
    margin-left:1cm;
    }
    </style>
<nav class="navbar navbar-light" style="background-color: #e3effd;">
    <div>
        <button type="button" class="btn btn-primary" routerLink="/Admin">Login</button>
        <button type="button" class="btn btn-primary" routerLink="/getapointment">Get-Apointment</button>
        <button type="button" class="btn btn-primary" routerLink="/viewapointment">View-Apointment</button>
        <button type="button" class="btn btn-primary" routerLink="/docconnect">View-Doctor</button>
    </div>
</nav>

<!-- <app-getappointment (newpatient)="apointment($event)"></app-getappointment> -->
