<!-- 

<div class="container">
    <div class="d-flex justify-content-between" >

          <div class="card" style="width: 70rem;">
            <img class="card-img-top" src="./assets/k.jpg" alt="Card image cap">
            <div class="card-body">          
<div>
    <button type="button" class="btn btn-primary" routerLink="/addmission/addmission/add">Registration</button>
    <button type="button" class="btn btn-primary" routerLink="/addmission/addmission/view">View</button>
</div>
<router-outlet></router-outlet>
            </div>
          </div>
</div> -->
<div class="card bg-dark text-white">
    <img class="card-img" src="./assets/k.jpg" alt="Card image">
    <div class="card-img-overlay">       
<div>
    <button type="button" class="btn btn-primary" routerLink="/addmission/addmission/add">Registration</button>
    <button type="button" class="btn btn-primary" routerLink="/addmission/addmission/view">View Classes And Student</button>
    <button type="button" class="btn btn-primary" routerLink="/addmission/addmission/addnewclass">Add new Class</button>
</div>
<router-outlet ></router-outlet>
    </div>
  </div>