<style>
    #a{
    max-width:500px;margin:auto;line-height:normal;
    }
    
    button{
    margin-left:1cm;
    }
    </style>
<nav class="navbar navbar-light" style="background-color: #e3effd;">
    <div>
        <button type="button" class="btn btn-primary" routerLink="/Admin/adminhome">Admin Home</button>
        <button type="button" class="btn btn-primary" routerLink="/Admin/viewpatients">View-Apointment</button>
    
        <button type="button" class="btn btn-primary" routerLink="/Admin">logout</button>
    </div>
</nav>
<div >
    <label for="form">Appointment Request Form</label>
<form  id="form" [formGroup]="doctorDetails" (ngSubmit)="onSubmit()">
<div class="input-group mb-3">
<label class="input-group-text" for="dname">Doctor name:</label>
<input id="dname" [class.is-invalid]="(fun.dname.touched || submitted ) && fun.dname.errors?.required" class="form-control ,is-invalid " type="text" name="dname" formControlName="dname">
</div>
<div *ngIf="(fun.dname.touched || submitted )&& (fun.dname.errors?.required)" class="input-group mb-3"><small class="alert alert-danger">Doctor Name Required!</small></div>

<div class="input-group mb-3">
    <label class="input-group-text" for="ddegree">Doctor Degree:</label>
    <input id="ddegree" [class.is-invalid]="(fun.ddegree.touched || submitted ) && fun.ddegree.errors?.required" class="form-control ,is-invalid " type="text" name="ddegree" formControlName="ddegree">
    </div>
    <div *ngIf="(fun.ddegree.touched || submitted )&& (fun.ddegree.errors?.required)" class="input-group mb-3"><small class="alert alert-danger">Doctor Degree Required!</small></div>
<div class="input-group mb-3">
    <label class="input-group-text" for="dmobno">Specialist mobile no :</label>
    <input id="dmobno" [class.is-invalid]="(fun.dmobno.touched || submitted )&&fun.dmobno.errors?.required" required minlength="10" maxlength="10" class="form-control ,is-invalid "type="text" name="dmobno" formControlName="dmobno">
    </div > 
    <div *ngIf="(fun['dmobno'].touched || submitted )&& (fun['dmobno'].errors?.required)" class="input-group mb-3"><small class="alert alert-danger">Doctor mobile number Required!</small></div>
    <div *ngIf="(fun['dmobno'].touched || submitted ) && (fun['dmobno'].errors?.['minlength'])"  class="alert alert-danger" >mobile number must be 10 digit long.</div>
    <div *ngIf="(fun['dmobno'].touched || submitted ) && (fun['dmobno'].errors?.['maxlength'])"  class="alert alert-danger" >mobile number must be 10 digit long.</div>
    <div class="input-group mb-3" >
        <label class="input-group-text" for="daddress">Specialist address :</label>
        <input id="daddress" [class.is-invalid]="(fun.daddress.touched || submitted )&&fun.daddress.errors?.required" class="form-control ,is-invalid "type="text" name="daddress" formControlName="daddress">
        </div> 
        <div *ngIf="(fun['daddress'].touched || submitted )&& (fun['daddress'].errors?.required)" class="input-group mb-3"><small class="alert alert-danger">Doctor address Required!</small></div>
<div  class="input-group mb-3">
    <button type="submit"  class="btn btn-primary" >Submit</button>
</div>
</form>
</div>