<!-- <style>
    #a{
    max-width:500px;margin:auto;line-height:normal;
    }
    
    button{
    margin-left:1cm;
    }
    </style>
<nav class="navbar navbar-light" style="background-color: #e3effd;">
    <div>
        <button type="button" class="btn btn-primary" routerLink="/Admin/adminhome">Admin Home</button>
        <button type="button" class="btn btn-primary" routerLink="/Admin/adddoctor">Add-Doctor</button>
        <button type="button" class="btn btn-primary" routerLink="/Admin/viewpatients">View-Apointment</button>
       <button type="button" class="btn btn-primary" routerLink="/Admin">logout</button>
    </div>
</nav> -->
<app-doctor (newDoctor)="saveDoctor($event)"></app-doctor>

