.abc{
font-style: italic;
background: yellow;
}
.a{
    font-style: italic;
    background: rgb(2, 141, 55);
    }

    .b{
        font-style: italic;
        background: rgb(0, 68, 255);
        }.c{
            font-style: italic;
            background: rgb(255, 0, 13);
            }
            .d{
                font-style: italic;
                background: rgb(0, 217, 255);
                }