<!--<div *ngIf="isTitleEnable"><h1>{{title}}</h1></div>
<button (click)="onclick()">Wellcome</button>
<br>
<br>
 toggle the "special" class on/off with a property 
<div [ngClass]="isSpecial ? 'special' : 'nonspecial'">This div is special</div>

<div [ngStyle]="{ fontSize:isSpecial? '50px':'30px'} ">
<h1>This is Maharashtra In India</h1>
</div>
<div [ngStyle]="{backgroundColor:isSpecial? 'rgb(255, 0, 64)':'rgb(4, 128, 0)'} ">Thank</div>
<br>
<div >Umesh</div> 
<div><p appBackgroundcolor>Highlight me!</p></div>-->
<app-structural-dicective></app-structural-dicective>
