
<div >
    </div>
    <div class="window">
        <div class="row">
          <div class="col-sm">
                <h4 style="margin-left: 2cm;color: rgb(0, 255, 255);">Profile</h4>
                <div style="color: rgb(0, 255, 64);margin-left: 1cm;">
                    <ul>
                        <li>World class Electricals Goods Manufacturer,</li>
                        <li>Established in 2020 ,</li>
                        <li>With more than 100 emplyee,</li>
                        <li>Presence all over the India,</li>
                        <li>With higly customer satisfaction,</li>
                        <li>Skilled employees, </li>
                        <li>Using most addvance technology.</li>
                </ul>
                </div>
                </div>
          <div class="col-sm">
            <h4 style="color: rgb(0, 255, 255);margin-left: 2cm;">Gallery</h4>
            <div style="margin-left: 1cm;">
                    <input type="image" src="assets/images/a.jpg">
                    <!-- <input type="image" src="assets/images/b.jpg"> -->
                </div>
          </div>
        </div>
      </div>
      