
<div >
    <div>
        <nav class="navbar navbar-dark bg-primary">
            <div>
             <button type="button" class="btn btn-primary" routerLink="/home">Home</button>
             <button type="button" class="btn btn-primary" routerLink="/register">register customer</button>
             <button type="button" class="btn btn-primary" routerLink="/view">view customer</button>
             <button type="button" class="btn btn-primary" routerLink="/Product-Section">Product-Section</button>
            </div>
           </nav>
    </div>
</div>
<router-outlet></router-outlet>

